html, body{
  margin: 0px;
  padding: 0px;
  height: 100%;
}

header{
  float: left;
  width: 85px;
  height: 100%;
  overflow: hidden;
  
  .logo{
    width: 75px;
  }
  
  .line{
    width: 50px;
    background-color: #f00;
    height: 100%;
  }
  
  .leiba{
    width: 211px;
    transform: rotate(270deg);
    margin: 90px 0px 0px -80px;
    
    #heading{
      font-size: 19px;
      font-weight: bold;
      color: #fff;
      margin: 0px 0px 5px 0px;
      text-decoration: none;
    }
    
    .heading-link {
      color: #fff;
      margin-left: 142px;
      text-decoration: none;
    }
  }
}

.body{
  margin-left: 85px;
  height: 100%;
  font-family: Ubuntu, Arial, sans-serif;
  
  .debug_window_wrapper{
    display: table;
    height: 100%;
    width: 100%;
  }
  
  .debug_loading{
    line-height: 32px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    
    .text{
      position: relative;
      top: -12px;
      padding: 0px 0px 0px 10px;
    }
  }
  
  .control-element{
    float: left;
    margin: 0px 0px 0px 5px;
    padding-left: 5px;
    height: 25px;
    
    > *:first-child{
      margin-right: 5px;
    }
    
    > *{
      float: left;
      margin: 0px;
    }
    
    &.reload-page, &.site-configuration{
      float: right;
    }
    
    &:first-child{
      margin: 0px;
      padding-left: 0px;
      border-left: none;
    }
    
    input{
      float: left;
      margin: 3px 5px 0px 0px;
    }
    
    .text{
      float: left;
      margin: 3px 5px 0px 0px;
    }
    
    input[type=text], input[type=button]{
       margin: -2px 5px 0px 0px;
       height: 17px;
       width: 40px;
       text-align: center;
    }
    
    input[type=button]{
      padding: 0px;
      font-size: 12px;
      width: 15px;
      height: 15px;
      border: none;
      text-indent: -9999px;
      margin-top: 1px;
      cursor: pointer;
      background: transparent url('../images/statusbarButtonGlyphs.png');
      
      &[name=debug_model_run]{
        background-position: -72px -52px;
      }
      
      &#backend_config{
        background-position: -168px -100px;
        float: right;
      }
      
      &#reload_page{
        float: right;
        background-position: -330px -77px;
      }
      
      &#clear_all{
        margin-top: 3px;
        background-position: -73px -5px;
      }
    }
    
    input#clear_all, input#backend_config, input#reload_page, input[name=debug_model_run]{
      &:focus{
        outline: none;
      }
    }
    
    input[name=debug_model]{
      width:165px;
      text-align: left;
    }
  }
  
  .debug_window{
    display:none;
    height: 100%;
    
    &.active{
      display: table-cell;
    }
    
    &.debug_unavaliable{
      vertical-align: middle;
    }
    
    &.debug_install{
      vertical-align: middle;
    }
    
    &.debug_update{
      vertical-align: middle;
    }
    
    &.debug_form{
      height: 100%;
      
      .panel-body{
        height: 100%;
        margin-top: -33px;
        padding-top: 38px;
        
        .tab{
          display: none;
          
          table{
            border-spacing: 0px;
            border-left: 1px #eee solid;
            font-size: 11px;
            
            .heading:hover{
              background-color:#fff;
            }
            
            tr{
              &:hover{
                background-color:#999;
                cursor: default;
              }
            }
            
            th, td{
              padding: 0px 5px;
              text-align: center;
              border-right: 1px #eee solid;
              border-bottom: 1px #eee solid;
            }
            
            th{
              height: 25px;
            }
            
            .gray_row{
              background-color: #eee;
            }
          }
          
          &.tab-wellcome{
            height: 100%;
            width: 100%;
            
            &.active{
              display: table;
            }
            
            .wellcome-message-wrapper{
              display: table-cell;
              vertical-align: middle;
              
              .wellcome-message{
                width: 369px;
                margin: 0px auto;
                text-align: center;
                
                img{
                  float: left;
                }
                
                .message{
                  padding: 16px 0px 0px 142px;
                }
              }
            }
          }
          
          &.tab-profiler{
            height: 100%;
            width: 100%;
            
            .left-sidebar, .main-sidebar{
              height: 100%;
              overflow: auto;
              vertical-align: top;
            }
            
            .left-sidebar{
              width: 250px;
              overflow-x: hidden;
              
              #profiler-content-table{
                width: 100%;
              }
              
              .profiler_url{
                width: 132px;
                overflow: hidden;
                white-space: nowrap;
              }
            }
            
            .main-sidebar{
              .long-table-wrapper{
                width: 100%;
              }
              
              #profiler-data{
                width: 100%;
                
                td{
                  width: 1px;
                  overflow: hidden;
                  
                  &.profiler_name_td{
                    width: 100%;
                  }
                  
                  .profiler_name{
                    width: 1px;
                    white-space: nowrap;
                  }
                }
              }
            }
          }
          
          /* Tab model */
          &.tab-sql{
              .stop_following{
                background-position: -103px -53px;
              }
              
              .start_following{
                background-position: -72px -52px;
              }
              
              .content_clear{
                background-position: -72px -77px;
              }
          }
          
          &.tab-model, &.tab-sql{
            .top-panel{
              height: top-panel;
            }
            
            .tab-content-wrapper{
              overflow: auto;
            }
          }
          
          /* Common tab table */
          &.tab-mail, &.tab-profiler, &.tab-model, &.tab-sql{
            &.active{
              display: table;
            }
            
            width: 100%;
            height: 100%;
            
            > div{
              display:table-row;
              
              > div{
                display: table-cell;
              }
            }
            
            .top-panel{
              display:table-cell;
              height: 20px;
            }
          }
          
          /* Mail list */
          &.tab-mail{
            width: 100%;
            height: 100%;
            
            #maillist-content-table-wrapper{
              display: table-cell;
              overflow: auto;
            }
          
            #maillist-content-table{
              width:100%;
            }
            
            .long-table-wrapper{
              width: auto;
            }
          }
          
          &.active{
            display: block;
          }
        }
      }
      
      .top_panel{
        font-size: 12px;
        height: 20px;
        padding: 6px 0px 6px 35px;
        margin-left: -35px;
        min-width: 660px;
        background-color: #eee;
        border-bottom: 1px solid rgb(163, 163, 163);
        
        .control-tabs{
          padding-top: 0px;
          
          a{
            color: #000;
            text-decoration: none;
            padding: 3px 10px;
            margin: 0px 5px 0px 0px;
            
            &:active, &:hover, &.active{
              border-radius: 8px;
            }
            
            &:active, &:hover{
              background: rgba(0, 0, 0, 0.2);
            }
            
            &.active{
              background: rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
  }
  
  .toolbar{
    .button-graphic{
      &:first-child{
        margin-left: 0px;
      }
      
      margin-left: 10px;
    }
  }
  
  .button-graphic{
    padding: 0px;
    font-size: 12px;
    width: 15px;
    height: 15px;
    border: none;
    text-indent: -9999px;
    margin-top: 1px;
    cursor: pointer;
    background: transparent url('../images/statusbarButtonGlyphs.png');
    
    &:focus{
        outline: none;
    }
    
    &.reload{
      background-position: -330px -78px;
    }
    
    &.remove{
      background-position: -138px -29px;
    }
    
    &.clear{
      background-position: -73px -5px;
    }
  }
  
  .long-table-wrapper{
    height: 0px;
    width: 0px;
  }
  
  .template{
    display: none;
  }
}